<extends src='layout.html'>
  <block name='content'>
    <div class="section bg-hero">
        <p class="hero-main-text">
          Advanced bitcoin coin selection
        </p>
        <p class="text-muted text-center">
          coinsayer has developed productionized cutting-edge bitcoin coin selection, that when deployed often leads commercial users to savings over >50% in fees
        </p>
    </div>
    <div class="section">
      <h2>What is coin selection?</h2>
      <p>
        When you send bitcoin, you must chose exactly which "inputs" to use. This has a profound effect on privacy and overall costs.
        And the amount of possible choices grows exponential with the amount of "coins" you have!
      </p>
      <p>
        In fact, this problem is so hard that it is categorized as <a href="https://en.wikipedia.org/wiki/NP-hardness" target="_blank">NP-hard</a>,
        and in the general-case not really solvable.
        However, at coinsayer we have developed state of the art algorithms,
        using state of the art solvers on our server farm to solve this problem as efficiently as possible —
        resulting in huge amounts of cost and privacy savings over previous coin selection algorithms.
      </p>
    </div>
    <div class="section bg-light">
      <h2>How can coinsayer help my business?</h2>
      <div class="selling-points">
        <div>
          <h3>Lower your costs</h3>
          <p>
            Achieve significant savings in bitcoin transactions, lowering your cost and offering better deals for your customers.
          </p>
          <img class="selling-point-image" src="/img/cost.svg" alt="coinsayer lowers your cost">
        </div>
        <div>
          <h3>Flexible and Powerful</h3>
          <p>
            Our API allows a high degree of customization to meet your business specific needs.
          </p>
          <img class="selling-point-image" src="/img/flexible.svg" alt="coinsayer is flexible">
        </div>
        <div>
          <h3>Privacy</h3>
          <p>
            We value your privacy. You don't have to share any information with us.
          </p>
          <img class="selling-point-image" src="/img/privacy.svg" alt="coinsayer keeps your privacy">
        </div>
      </div>
    </div>
    <div class="section">
      <p class="h2">Ready to get started?</p>
      <div class="action-buttons">
        <a href="/demo" class="btn btn-primary btn-lg">See Demo</a>
        <a href="/api" class="btn btn-success btn-lg">API Docs</a>
      </div>
    </div>
  </block>
</extends>
