<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'>
      <title>coinsayer - Advanced bitcoin coin selection</title>
    </block>
    <link rel='stylesheet' href='css/index.css'>
  </head>
  <body>
    <main id='{{ pageId }}'>
      <div class="wrapper">
        <div class="header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.svg" alt="coinsayer Logo" style="width: 50px;">
              <span style="letter-spacing: 1px">coinsayer</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
              <ul class="navbar-nav">
                <each loop='item of menu'>
                  <li class="nav-item">
                    <a class="{{ pageId === item.active  ? 'active' : '' }} nav-link" href="{{ item.url || '/' + item.name }}" style="text-transform: capitalize;">{{ item.name }}</a>
                  </li>
                </each>
              </ul>
            </div>
          </nav>
        </div>
        <div class="content">
          <block name='content'></block>
        </div>
        <div class="footer">
          <p>Created by R.Havar</p>
          <a href="/contact">Contact</a>
        </div>

      </div>

    </main>

    <block name='javascript'>
      <script src='js/main.js' defer></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript">
        // This is a script to make the navbar work. Apparently Bootstrap doesn't have a built in thing. I might be wrong and this script might be shit, but I am trying here
        $(function() {
          if (location.pathname.split("/")[1] === '') {
            $('#homepage').addClass('active');
          } else {
            $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
          }
        });
      </script>
    </block>
  </body>
</html>
